<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aurifolia.cloud.id.infrastructure.segment.mapper.SegmentMetaMapper">

    <resultMap id="SegmentMetaResultMap" type="org.aurifolia.cloud.id.infrastructure.segment.po.SegmentMetaPO">
        <id property="id" column="id"/>
        <result property="bizTag" column="biz_tag"/>
        <result property="maxId" column="max_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectByBizTag" resultMap="SegmentMetaResultMap">
        SELECT id, biz_tag, max_id, create_time, update_time
        FROM segment_meta
        WHERE biz_tag = #{bizTag}
    </select>

    <select id="selectByBizTagForUpdate" resultMap="SegmentMetaResultMap">
        SELECT id, biz_tag, max_id, create_time, update_time
        FROM segment_meta
        WHERE biz_tag = #{bizTag}
        FOR UPDATE
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO segment_meta (biz_tag, max_id, create_time, update_time)
        VALUES (#{bizTag}, #{maxId}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        UPDATE segment_meta
        SET max_id = #{maxId}, update_time = #{updateTime}
        WHERE id = #{id}
    </update>

</mapper>
